<CascadingValue Value="_languageService" IsFixed="true"> 
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingValue>

@using Admin.Services

@code {
    // Thêm language service để quản lý ngôn ngữ cho toàn bộ trang
    [Inject] private LanguageService? _languageService { get; set; }
}