@inject Admin.Services.LanguageService languageService
@inject Admin.Services.LanguageConstantsService languageConstantsService
@inject IJSRuntime JS

<style>
    i {
        width: 32px; 
        font-size: 20px;
    }

</style>

@* Tiêu đề Admin *@
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Admin</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

@* Các nút chuyển sang trang khác *@
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @* Nút sang Country *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="country">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe2" viewBox="0 0 16 16">
                    <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m7.5-6.923c-.67.204-1.335.82-1.887 1.855q-.215.403-.395.872c.705.157 1.472.257 2.282.287zM4.249 3.539q.214-.577.481-1.078a7 7 0 0 1 .597-.933A7 7 0 0 0 3.051 3.05q.544.277 1.198.49zM3.509 7.5c.036-1.07.188-2.087.436-3.008a9 9 0 0 1-1.565-.667A6.96 6.96 0 0 0 1.018 7.5zm1.4-2.741a12.3 12.3 0 0 0-.4 2.741H7.5V5.091c-.91-.03-1.783-.145-2.591-.332M8.5 5.09V7.5h2.99a12.3 12.3 0 0 0-.399-2.741c-.808.187-1.681.301-2.591.332zM4.51 8.5c.035.987.176 1.914.399 2.741A13.6 13.6 0 0 1 7.5 10.91V8.5zm3.99 0v2.409c.91.03 1.783.145 2.591.332.223-.827.364-1.754.4-2.741zm-3.282 3.696q.18.469.395.872c.552 1.035 1.218 1.65 1.887 1.855V11.91c-.81.03-1.577.13-2.282.287zm.11 2.276a7 7 0 0 1-.598-.933 9 9 0 0 1-.481-1.079 8.4 8.4 0 0 0-1.198.49 7 7 0 0 0 2.276 1.522zm-1.383-2.964A13.4 13.4 0 0 1 3.508 8.5h-2.49a6.96 6.96 0 0 0 1.362 3.675c.47-.258.995-.482 1.565-.667m6.728 2.964a7 7 0 0 0 2.275-1.521 8.4 8.4 0 0 0-1.197-.49 9 9 0 0 1-.481 1.078 7 7 0 0 1-.597.933M8.5 11.909v3.014c.67-.204 1.335-.82 1.887-1.855q.216-.403.395-.872A12.6 12.6 0 0 0 8.5 11.91zm3.555-.401c.57.185 1.095.409 1.565.667A6.96 6.96 0 0 0 14.982 8.5h-2.49a13.4 13.4 0 0 1-.437 3.008M14.982 7.5a6.96 6.96 0 0 0-1.362-3.675c-.47.258-.995.482-1.565.667.248.92.4 1.938.437 3.008zM11.27 2.461q.266.502.482 1.078a8.4 8.4 0 0 0 1.196-.49 7 7 0 0 0-2.275-1.52c.218.283.418.597.597.932m-.488 1.343a8 8 0 0 0-.395-.872C9.835 1.897 9.17 1.282 8.5 1.077V4.09c.81-.03 1.577-.13 2.282-.287z"/>
                </svg>
                @(languageService.currentLanguage == "en" ? "Country" : "Nước")
            </NavLink>
        </div>

        @* Nút sang Language *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="language">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-translate" viewBox="0 0 16 16">
                    <path d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286zm1.634-.736L5.5 3.956h-.049l-.679 2.022z"/>
                    <path d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zm7.138 9.995q.289.451.63.846c-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6 6 0 0 1-.415-.492 2 2 0 0 1-.94.31"/>
                </svg>
                @(languageService.currentLanguage == "en" ? "Language" : "Ngôn ngữ")
            </NavLink>
        </div>

        @* Nút sang Format *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="format">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-square-fill" viewBox="0 0 16 16">
                    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm8.93 4.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
                </svg>
                @(languageService.currentLanguage == "en" ? "Format" : "Hình thức xem")
            </NavLink>
        </div>

        @* Nút sang Limit Age *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="limit-age">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ban" viewBox="0 0 16 16">
                    <path d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0"/>
                </svg>
                @(languageService.currentLanguage == "en" ? "Limit age" : "Giới hạn độ tuổi")
            </NavLink>
        </div>

        @* Nút sang Genre *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="genre">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-laughing-fill" viewBox="0 0 16 16">
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5c0 .501-.164.396-.415.235C6.42 6.629 6.218 6.5 6 6.5s-.42.13-.585.235C5.164 6.896 5 7 5 6.5 5 5.672 5.448 5 6 5s1 .672 1 1.5m5.331 3a1 1 0 0 1 0 1A5 5 0 0 1 8 13a5 5 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5m-1.746-2.765C10.42 6.629 10.218 6.5 10 6.5s-.42.13-.585.235C9.164 6.896 9 7 9 6.5c0-.828.448-1.5 1-1.5s1 .672 1 1.5c0 .501-.164.396-.415.235"/>
                </svg>
                @(languageService.currentLanguage == "en" ? "Genre" : "Thể loại")
            </NavLink>
        </div>

        @* Nút sang Movie *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="movie">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-film" viewBox="0 0 16 16">
                    <path d="M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm4 0v6h8V1zm8 8H4v6h8zM1 1v2h2V1zm2 3H1v2h2zM1 7v2h2V7zm2 3H1v2h2zm-2 3v2h2v-2zM15 1h-2v2h2zm-2 3v2h2V4zm2 3h-2v2h2zm-2 3v2h2v-2zm2 3h-2v2h2z"/>
                </svg>
                @(languageService.currentLanguage == "en" ? "Movie" : "Phim")
            </NavLink>
        </div>

        @* Nút sang Showtime *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="showtime">
                <i class="fa-solid fa-calendar-days" style="width: 32px; font-size: 20px;"></i>
                @(languageService.currentLanguage == "en" ? "Showtime" : "Lịch chiếu")
            </NavLink>
        </div>

        @* Nút sang Area *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="area">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-film" viewBox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                </svg>
                @(languageService.currentLanguage == "en" ? "Area" : "Khu vực")
            </NavLink>
        </div>

        @* Nút sang Cinema *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cinema">
                <i class="fa-solid fa-synagogue"></i>
                @(languageService.currentLanguage == "en" ? "Cinema" : "Rạp")
            </NavLink>
        </div>

         @* Nút sang Room *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="room">
                <i class="fa-solid fa-clapperboard"></i>
                @(languageService.currentLanguage == "en" ? "Room" : "Phòng chiếu")
            </NavLink>
        </div>

        @* Nút sang Seat Type *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="seat-type">
                <i class="fa-solid fa-diagram-successor"></i>
                @(languageService.currentLanguage == "en" ? "Seat type" : "Loại ghế")
            </NavLink>
        </div>

        @* Nút sang Seat *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="seat">
                <i class="fa-solid fa-couch"></i>
                @(languageService.currentLanguage == "en" ? "Seat" : "Ghế")
            </NavLink>
        </div>

        @* Nút sang Seat bôoked *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="booked-seats">
                <i class="fa-solid fa-circle-check"></i>
                @(languageService.currentLanguage == "en" ? "Booked seats" : "Ghế đã đặt")
            </NavLink>
        </div>

        @* Nút sang Concession Type *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="concession-type">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
                    <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2zm3.564 1.426L5.596 5 8 5.961 14.154 3.5zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z"/>
                </svg>
                @(languageService.currentLanguage == "en" ? "Concession type" : "Loại đồ ăn uống")
            </NavLink>
        </div>

        @* Nút sang Concession *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="concession">
                <i class="fa-solid fa-hotdog"></i>
                @(languageService.currentLanguage == "en" ? "Concession" : "Đồ ăn uống")
            </NavLink>
        </div>

        @* Nút sang Ticket Type *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ticket-type">
                <i class="fa-solid fa-ticket-simple"></i>
                @(languageService.currentLanguage == "en" ? "Ticket type" : "Loại vé")
            </NavLink>
        </div>

        @* Nút sang Ticket *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ticket">
                <i class="fa-solid fa-ticket"></i>
                @(languageService.currentLanguage == "en" ? "Ticket" : "Vé")
            </NavLink>
        </div>

        @* Nút sang Ticket booked *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="booked-tickets">
                <i class="fa-solid fa-check"></i>
                @(languageService.currentLanguage == "en" ? "Booked tickets" : "Vé đã đặt")
            </NavLink>
        </div>

        @* Nút sang User *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="user">
                <i class="fa-solid fa-user"></i>
                @(languageService.currentLanguage == "en" ? "User" : "Người dùng")
            </NavLink>
        </div>

        @* Nút sang Membership *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="membership">
                <i class="fa-solid fa-users"></i>
                @(languageService.currentLanguage == "en" ? "Membership" : "Hội viên")
            </NavLink>
        </div>

        @* Nút sang Transaction *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transaction">
                <i class="fa-solid fa-credit-card"></i>
                @(languageService.currentLanguage == "en" ? "Transaction" : "Giao dịch")
            </NavLink>
        </div>

        @* Nút sang Bill *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bill">
                <i class="fa-solid fa-money-bill-wave"></i>
                @(languageService.currentLanguage == "en" ? "Bill" : "Hoá đơn")
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {
        var lang = await JS.InvokeAsync<string>("localStorage.getItem", "language");
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
